.header{
    position: sticky;
    overflow: hidden;
    background-image: linear-gradient(to right, #56ab2f , #a8e063);
    margin:auto;
    align-items: center;
    box-shadow:3px;
    border-radius:1rem;
    align-self: center; 
}


.navbar-brand{
    align-self:center;
    padding:3px;
   color: aliceblue;
}
button{
    background-color:a8e063;
    border: none;
}