<!--Navbar-->
<nav class="navbar navbar-expand-sm NgbModule">
  <div class="container-fluid">
    <!--LOGO-->
    <div class="col-2 navbar-header">
      <a class="navbar-brand fs-1 btn"  routerLink="">
        <i class="fi fi-br-sack-dollar"></i> 
      </a>
    </div>
  <!-- Links -->
    <div class="spacer"></div>
      <button type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item text-wrap ">
          <a class="nav-link btn" routerLink="about">About</a>
          </li>
          <li class="nav-item text-wrap ">
          <a class="nav-link btn" routerLink="contact">Contact Us</a>
          </li>
          <li class="nav-item">
        <!-- options should be used here -->
          <a class="nav-link btn dropdown-toggle" type="button"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">Products</a>
          <ul class="dropdown-menu " aria-labelledby="#navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
          </li>
      <li class="nav-item">
        <a class="nav-link btn " href="#">Sign Up</a>
      </li>
    </ul>
  </div>
</div>
  </nav>



  
