.my-footer{
    position: sticky;
    overflow: hidden;
    top: 100%;
    margin:auto;
    left:-3px;
    color: aliceblue;
    border-radius:0.5rem;
    background-image: linear-gradient(to right, #56ab2f ,  #a8e063);;
}

